<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logo</title>
    <link rel = "stylesheet" href = "stylesheets/index.css">
</head>
<body>
    <div class="container">
        <div class="logo">
                <p class = "text">smart</p>
                <p class = "text">trash</p>
                <p class = "text">bin</p>
        </div>


        <div class="trashbin">
                <div class="lid">
                    <img src="img/lid.svg" class = "lid1">
                    <img src="img/lid.svg" class = "lid2">
                </div>

                <div class="bin">
                    <img src="img/bin.svg" class="bin1">
                    <img src="img/bin.svg" class="bin2">
                </div>
            </div>
    </div>

<script>
    setTimeout(function() {
        window.location.href = 'monitoring/monitoring.html';
      }, 2000); // 2초 후에 자동 리다이렉트
    </script>
</body>
</html>