<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "stylesheets/ranking.css">
    <title>ranking</title>
</head>
<body>
    <div class="container">
        <div class="logo">Ranking
                <article class="ranking">
                </article>
            </div>
        </div>
        <nav>
            <a href="monitoring">monitoring</a>
            <a href="plogging">plogging</a>
            <a href="ranking">ranking</a>
         </nav> 
    </div>
</body>
</html>


<!-- 
텍스트-> 데이터
랭킹

내일 12시까지 끝내야함.
-->