<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "stylesheets/ranking.css">
    <title>ranking</title>
</head>
<body>
    <div class="container">
        <div class="logo">Ranking
            <article class="ranking">
                <section class = "name">
                    <ol class="ordered-list">
                        <% for (let i = 0; i < sortedUsers.length; i++) { %>
                        <li><%= sortedUsers[i].name %> </li><% } %>
                    </ol>
                 </section>
                <aside class= "kg">
                    <ol class = "ordered-list_2">
                    <li>
                    <% for (let i = 0; i < sortedUsers.length; i++) { %>
                            <li><%= sortedUsers[i].weight %> g</li>
                    <% } %>
                    </ol>
                </aside>
            </article>
        </div>
     </div>
        <nav>
            <a href="monitoring">monitoring</a>
            <a href="plogging">plogging</a>
            <a href="ranking">ranking</a>
         </nav> 
    </div>
</body>
</html>



